.skill-component {
    margin-top: 4rem;
    text-align: center;
  }

  .mern-section-title{
    color: var(--primary-color);
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0.75rem;
    border-radius: 10px;
    width: 100px;
    transition: transform 0.3s ease;
  }
  
  .skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .skill-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 640px) {
    .skills-grid {
      grid-template-columns: repeat(5, 2fr);
    }
  
    .skill-card {
      width: 110px;
      padding: 1rem;
    }
  
    .skill-logo {
      width: 50px;
      height: 50px;
    }
  }
  
  /* Tools Section */
  .tools-title {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  
  .badges-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .badge-skill {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f3f4f6;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    transition: all 0.3s ease;
  }
  
  .badge-skill:hover {
    background-color: #e2e8f0;
    transform: translateY(-2px);
  }
  
  .badge-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  /* Soft Skills Section */
  .soft-title {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  
  .soft-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1.5rem;
  }
  
  .soft-skill {
    padding: 0.5rem 1rem;
    background-color: rgb(243, 204, 243);
    color: var(--primary-color);
    font-weight: 550;
    border-radius: 20px;
    border: 1px solid #bae6fd;
    transition: background 0.3s ease;
  }
  
  .soft-skill:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: default;
  }
  