.projects-logo-container {
	display: flex;
	justify-content: center;
	background-color: yellow;
	padding-top: 25px;
}

.projects-title{
	color: var(--primary-color);
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
	width: 1080p;
}
.projects-subtitle{
	text-align: justify;
	font-size: 1.5rem;
}

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 60px;
	}

	.projects-project {
		width: calc(100% / 2);
	}
}
